@{
    ViewData["Title"] = "Home Page";
}
<bold-report-viewer id="viewer" report-path="sales-order-detail.rdl" report-service-url="/api/ReportViewer"></bold-report-viewer>


<div class="text-center">

    <h1 class="display-4">Bienvenue</h1>
    <p>Ce projet fait la gestion des produits avec aps .net core et angular</p>

</div>
