@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Bienvenue</h1>
    <p>Ce projet fait la gestion des produits avec aps .net core et angular</p>

</div>
<div style="height: 500px;width: 100%;">
  <bold-report-viewer id="viewer" report-path="reportproduit.rdl" report-service-url="/api/ReportViewer"></bold-report-viewer>

@*   <bold-report-designer id="designer" service-url="/api/ReportingAPI"></bold-report-designer>
*@
</div>

